<h3><i class="fa-sharp fa-solid fa-bookmark left"></i>DearDiary</h3>
<div class="section">
    <div class="lead">Journal your daily diaries and choose to share it with your friends.</div>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log in with google
    </a>
</div>